name: build-test-benchmark release binary

on:
  release:
    types: [created]
  pull_request:
    branches:
      - master
    types:
      - "closed"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test-benchmark:
    # this job will only run if the PR has been merged
    if: github.event.pull_request.merged == true
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}/bc-node
    timeout-minutes: 180
    steps:
      - uses: actions/checkout@v2
      - name: Cache Dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-prod

      - name: Setup Unix
        run: |
          curl https://getsubstrate.io -sSf | bash -s -- --fast

      - name: Setup Rust toolchain
        run: |
          rustup default stable
          rustup toolchain install nightly-2021-01-20
          rustup target add wasm32-unknown-unknown --toolchain nightly-2021-01-20
          rustup update

      - name: Build Prod Binary
        run: cargo +nightly-2021-01-20 build --release --features runtime-benchmarks
        working-directory: ${{ github.workspace }}/bc-node/node

      - name: Test Prod Binary
        run: cargo +nightly-2021-01-20 test --release

      - name: Perform Benchmark Tests
        run: cargo +nightly-2021-01-20 test -p pallet-mixnet --features runtime-benchmarks --release --verbose -- --nocapture
        working-directory: ${{ github.workspace }}/bc-node/node

      # this step uploads the built prod binary as an artifact (output)
      - name: Upload Prod Binary
        uses: actions/upload-artifact@v2
        with:
          name: provotum-prod-${{ github.sha }}-${{ github.run_id }}
          path: ${{ github.workspace }}/bc-node/target/release/provotum
          retention-days: 30

      - name: Benchmark Pallet Mixnet
        run: ${{ github.workspace }}/bc-node/target/release/provotum benchmark --chain dev --pallet "pallet_mixnet" --extrinsic "*" --repeat 3 > ${{ github.workspace }}/bc-node/benchmarking-results

      # this step uploads the built prod binary as an artifact (output)
      - name: Upload Benchmark Results
        uses: actions/upload-artifact@v2
        with:
          name: provotum-benchmark-prod-${{ github.sha }}-${{ github.run_id }}
          path: ${{ github.workspace }}/bc-node/benchmarking-results
          retention-days: 90
